In [2]:
import pandas as pd

In [3]:
file1 = pd.read_csv('patients.csv')
file1

,patient_id,first_name,last_name,gender,birth_date,city,province_id,allergies,height,weight
0,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65
1,2,Mickey,Baasha,M,1981-05-28,Dundas,ON,Sulfa,185,76
2,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106
3,4,Blair,Diaz,M,1967-01-07,Hamilton,ON,NaN,191,104
4,5,Charles,Wolfe,M,2017-11-19,Orillia,ON,Penicillin,47,10
...,...,...,...,...,...,...,...,...,...,...
4525,4526,Armando,Matthews,M,1987-12-20,Burlington,ON,Penicillin,173,74
4526,4527,Karen,Costello,F,2013-08-04,Windsor,ON,Penicillin,75,22
4527,4528,Deanna,Barnes,F,1983-04-05,Toronto,ON,Penicillin,161,73
4528,4529,Molly,Hanover,F,1999-10-23,Elmira,ON,Milk,167,91
4529,4530,Constance,Yang,F,2002-07-17,Mississauga,ON,Penicillin,177,71

In [4]:
file2 = pd.read_csv('province_names.csv')
file2

   province_id              province_name
0           AB                    Alberta
1           BC           British Columbia
2           MB                   Manitoba
3           NB              New Brunswick
4           NL  Newfoundland and Labrador
5           NS                Nova Scotia
6           NT      Northwest Territories
7           NU                    Nunavut
8           ON                    Ontario
9           PE       Prince Edward Island
10          QC                     Quebec
11          SK               Saskatchewan
12          YT                      Yukon

In [5]:
merge_1 = pd.merge(file1, file2, on='province_id', how='inner')
merge_1

,patient_id,first_name,last_name,gender,birth_date,city,province_id,allergies,height,weight,province_name
0,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario
1,2,Mickey,Baasha,M,1981-05-28,Dundas,ON,Sulfa,185,76,Ontario
2,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario
3,4,Blair,Diaz,M,1967-01-07,Hamilton,ON,NaN,191,104,Ontario
4,5,Charles,Wolfe,M,2017-11-19,Orillia,ON,Penicillin,47,10,Ontario
...,...,...,...,...,...,...,...,...,...,...,...
4525,3896,Ruby,Possible,F,1984-12-06,Montreal,QC,Hay Fever,180,91,Quebec
4526,4059,Brynn,McKinnon,F,2017-08-27,Montreal,QC,Penicillin,48,9,Quebec
4527,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec
4528,4341,Anna,Grissom,F,1993-03-18,Montreal,QC,NaN,149,70,Quebec
4529,4412,Melanie,Atwater,F,1961-07-13,Montreal,QC,NaN,164,52,Quebec

In [6]:
file3 = pd.read_csv('admissions.csv')
file3

,patient_id,admission_date,discharge_date,diagnosis,attending_doctor_id
0,1,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24
1,1,2018-11-06,2018-11-08,Ovarian Dermoid-Cyct,21
2,3,2018-10-21,2018-10-27,Congestive Heart Failure,8
3,3,2019-01-24,2019-01-29,Cardiac Arrest,2
4,6,2018-06-13,2018-06-15,Asthma Exacerbation,3
...,...,...,...,...,...
5062,4527,2018-11-24,2018-11-30,Active Labour,22
5063,4528,2019-01-17,2019-01-18,Cholecystectomy,14
5064,4528,2019-03-03,2019-03-06,Profound Depression,9
5065,4529,2018-08-06,2018-08-14,Deep Vein Thrombosis,10
5066,4529,2019-04-01,2019-04-07,Hyperemesis,16

In [7]:
file4 = pd.read_csv('doctors.csv')
file4

    doctor_id first_name  last_name                  specialty
0           1     Claude      Walls                  Internist
1           2     Joshua      Green               Cardiologist
2           3     Miriam     Tregre            General Surgeon
3           4      James      Russo  Obstetrician/Gynecologist
4           5      Scott       Hill         Gastroenterologist
5           6      Tasha   Phillips               Psychiatrist
6           7      Hazel  Patterson                 Oncologist
7           8     Mickey      Duval               Pediatrician
8           9        Jon     Nelson                Neurologist
9          10     Monica  Singleton        Orthopaedic Surgeon
10         11    Douglas     Brooks              Respirologist
11         12      Flora      Moore     Cardiovascular Surgeon
12         13   Angelica        Noe           Nuclear Medicine
13         14     Tyrone      Smart              Gerontologist
14         15      Marie   Brinkman                  Urologist
15         16      Irene     Brooks         Gastroenterologist
16         17       Mary     Walker           Nuclear Medicine
17         18      Bobbi    Estrada              Gerontologist
18         19  Stephanie      Cohen                 Oncologist
19         20      Ralph     Wilson            General Surgeon
20         21       Lisa      Cuddy  Obstetrician/Gynecologist
21         22      Simon   Santiago               Cardiologist
22         23    Heather       Beck               Pediatrician
23         24      Jenny    Pulaski                Neurologist
24         25   Jeanette      Sites               Psychiatrist
25         26      Larry     Miller     Cardiovascular Surgeon
26         27      Donna  Greenwood              Respirologist

In [8]:
merge_2 = pd.merge(file3, file4, left_on= 'attending_doctor_id', right_on='doctor_id', how='inner')
merge_2

,patient_id,admission_date,discharge_date,diagnosis,attending_doctor_id,doctor_id,first_name,last_name,specialty
0,1,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24,24,Jenny,Pulaski,Neurologist
1,97,2018-07-07,2018-07-16,Ovarian Cancer,24,24,Jenny,Pulaski,Neurologist
2,154,2019-04-17,2019-04-24,Pain In Abdomen Left Side,24,24,Jenny,Pulaski,Neurologist
3,160,2018-06-09,2018-06-18,Dementia,24,24,Jenny,Pulaski,Neurologist
4,216,2019-05-30,2019-06-01,Fractured Skull,24,24,Jenny,Pulaski,Neurologist
...,...,...,...,...,...,...,...,...,...
5062,4301,2018-08-17,2018-08-23,Myocardial Infarction,23,23,Heather,Beck,Pediatrician
5063,4303,2018-08-01,2018-08-06,Pregnant,23,23,Heather,Beck,Pediatrician
5064,4348,2019-04-11,2019-04-15,Fracture To Left Femur,23,23,Heather,Beck,Pediatrician
5065,4490,2019-01-24,2019-01-29,Angina Pectoris,23,23,Heather,Beck,Pediatrician
5066,4507,2018-12-07,2018-12-09,CHF,23,23,Heather,Beck,Pediatrician

In [9]:
merge_3 = pd.merge(merge_1, merge_2, on ='patient_id', how= 'inner')
merge_3

,patient_id,first_name_x,last_name_x,gender,birth_date,city,province_id,allergies,height,weight,province_name,admission_date,discharge_date,diagnosis,attending_doctor_id,doctor_id,first_name_y,last_name_y,specialty
0,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24,24,Jenny,Pulaski,Neurologist
1,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-11-06,2018-11-08,Ovarian Dermoid-Cyct,21,21,Lisa,Cuddy,Obstetrician/Gynecologist
2,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2018-10-21,2018-10-27,Congestive Heart Failure,8,8,Mickey,Duval,Pediatrician
3,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2019-01-24,2019-01-29,Cardiac Arrest,2,2,Joshua,Green,Cardiologist
4,6,Sue,Falcon,F,2017-09-30,Ajax,ON,Penicillin,43,5,Ontario,2018-06-13,2018-06-15,Asthma Exacerbation,3,3,Miriam,Tregre,General Surgeon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,3896,Ruby,Possible,F,1984-12-06,Montreal,QC,Hay Fever,180,91,Quebec,2019-02-13,2019-02-22,Chest Pain,13,13,Angelica,Noe,Nuclear Medicine
5063,4059,Brynn,McKinnon,F,2017-08-27,Montreal,QC,Penicillin,48,9,Quebec,2018-11-18,2018-11-22,Cancer,11,11,Douglas,Brooks,Respirologist
5064,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-17,2019-04-24,Pneumonia,8,8,Mickey,Duval,Pediatrician
5065,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-24,2019-04-25,"Exploratory, Orthoscopic - Knee",3,3,Miriam,Tregre,General Surgeon
5066,4341,Anna,Grissom,F,1993-03-18,Montreal,QC,NaN,149,70,Quebec,2019-06-05,1971-01-05,Child Birth,26,26,Larry,Miller,Cardiovascular Surgeon

In [10]:
final_table = merge_3.drop(columns = ['doctor_id'])
final_table

,patient_id,first_name_x,last_name_x,gender,birth_date,city,province_id,allergies,height,weight,province_name,admission_date,discharge_date,diagnosis,attending_doctor_id,first_name_y,last_name_y,specialty
0,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24,Jenny,Pulaski,Neurologist
1,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-11-06,2018-11-08,Ovarian Dermoid-Cyct,21,Lisa,Cuddy,Obstetrician/Gynecologist
2,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2018-10-21,2018-10-27,Congestive Heart Failure,8,Mickey,Duval,Pediatrician
3,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2019-01-24,2019-01-29,Cardiac Arrest,2,Joshua,Green,Cardiologist
4,6,Sue,Falcon,F,2017-09-30,Ajax,ON,Penicillin,43,5,Ontario,2018-06-13,2018-06-15,Asthma Exacerbation,3,Miriam,Tregre,General Surgeon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,3896,Ruby,Possible,F,1984-12-06,Montreal,QC,Hay Fever,180,91,Quebec,2019-02-13,2019-02-22,Chest Pain,13,Angelica,Noe,Nuclear Medicine
5063,4059,Brynn,McKinnon,F,2017-08-27,Montreal,QC,Penicillin,48,9,Quebec,2018-11-18,2018-11-22,Cancer,11,Douglas,Brooks,Respirologist
5064,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-17,2019-04-24,Pneumonia,8,Mickey,Duval,Pediatrician
5065,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-24,2019-04-25,"Exploratory, Orthoscopic - Knee",3,Miriam,Tregre,General Surgeon
5066,4341,Anna,Grissom,F,1993-03-18,Montreal,QC,NaN,149,70,Quebec,2019-06-05,1971-01-05,Child Birth,26,Larry,Miller,Cardiovascular Surgeon

In [11]:
final_table.rename(columns={'first_name_x':'patient_first_name','last_name_x':'patient_last_name','first_name_y':'doctor_first_name','last_name_y':'doctor_last_name'}, inplace = 'TRUE')

In [12]:
final_table

,patient_id,patient_first_name,patient_last_name,gender,birth_date,city,province_id,allergies,height,weight,province_name,admission_date,discharge_date,diagnosis,attending_doctor_id,doctor_first_name,doctor_last_name,specialty
0,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24,Jenny,Pulaski,Neurologist
1,1,Donald,Waterfield,M,1963-02-12,Barrie,ON,NaN,156,65,Ontario,2018-11-06,2018-11-08,Ovarian Dermoid-Cyct,21,Lisa,Cuddy,Obstetrician/Gynecologist
2,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2018-10-21,2018-10-27,Congestive Heart Failure,8,Mickey,Duval,Pediatrician
3,3,Jiji,Sharma,M,1957-09-05,Hamilton,ON,Penicillin,194,106,Ontario,2019-01-24,2019-01-29,Cardiac Arrest,2,Joshua,Green,Cardiologist
4,6,Sue,Falcon,F,2017-09-30,Ajax,ON,Penicillin,43,5,Ontario,2018-06-13,2018-06-15,Asthma Exacerbation,3,Miriam,Tregre,General Surgeon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,3896,Ruby,Possible,F,1984-12-06,Montreal,QC,Hay Fever,180,91,Quebec,2019-02-13,2019-02-22,Chest Pain,13,Angelica,Noe,Nuclear Medicine
5063,4059,Brynn,McKinnon,F,2017-08-27,Montreal,QC,Penicillin,48,9,Quebec,2018-11-18,2018-11-22,Cancer,11,Douglas,Brooks,Respirologist
5064,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-17,2019-04-24,Pneumonia,8,Mickey,Duval,Pediatrician
5065,4172,Julie,McAllister,F,2002-07-12,Montreal,QC,Codeine,192,66,Quebec,2019-04-24,2019-04-25,"Exploratory, Orthoscopic - Knee",3,Miriam,Tregre,General Surgeon
5066,4341,Anna,Grissom,F,1993-03-18,Montreal,QC,NaN,149,70,Quebec,2019-06-05,1971-01-05,Child Birth,26,Larry,Miller,Cardiovascular Surgeon

In [13]:
combined_table = final_table[['patient_id','patient_first_name','patient_last_name','gender','birth_date',
                              'height','weight','city', 'province_id','province_name','allergies',
                              'admission_date','discharge_date','diagnosis',
                              'attending_doctor_id','doctor_first_name','doctor_last_name','specialty']]

In [14]:
combined_table

,patient_id,patient_first_name,patient_last_name,gender,birth_date,height,weight,city,province_id,province_name,allergies,admission_date,discharge_date,diagnosis,attending_doctor_id,doctor_first_name,doctor_last_name,specialty
0,1,Donald,Waterfield,M,1963-02-12,156,65,Barrie,ON,Ontario,NaN,2018-09-20,2018-09-20,Ineffective Breathin Pattern R/T Fluid Accumul...,24,Jenny,Pulaski,Neurologist
1,1,Donald,Waterfield,M,1963-02-12,156,65,Barrie,ON,Ontario,NaN,2018-11-06,2018-11-08,Ovarian Dermoid-Cyct,21,Lisa,Cuddy,Obstetrician/Gynecologist
2,3,Jiji,Sharma,M,1957-09-05,194,106,Hamilton,ON,Ontario,Penicillin,2018-10-21,2018-10-27,Congestive Heart Failure,8,Mickey,Duval,Pediatrician
3,3,Jiji,Sharma,M,1957-09-05,194,106,Hamilton,ON,Ontario,Penicillin,2019-01-24,2019-01-29,Cardiac Arrest,2,Joshua,Green,Cardiologist
4,6,Sue,Falcon,F,2017-09-30,43,5,Ajax,ON,Ontario,Penicillin,2018-06-13,2018-06-15,Asthma Exacerbation,3,Miriam,Tregre,General Surgeon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,3896,Ruby,Possible,F,1984-12-06,180,91,Montreal,QC,Quebec,Hay Fever,2019-02-13,2019-02-22,Chest Pain,13,Angelica,Noe,Nuclear Medicine
5063,4059,Brynn,McKinnon,F,2017-08-27,48,9,Montreal,QC,Quebec,Penicillin,2018-11-18,2018-11-22,Cancer,11,Douglas,Brooks,Respirologist
5064,4172,Julie,McAllister,F,2002-07-12,192,66,Montreal,QC,Quebec,Codeine,2019-04-17,2019-04-24,Pneumonia,8,Mickey,Duval,Pediatrician
5065,4172,Julie,McAllister,F,2002-07-12,192,66,Montreal,QC,Quebec,Codeine,2019-04-24,2019-04-25,"Exploratory, Orthoscopic - Knee",3,Miriam,Tregre,General Surgeon
5066,4341,Anna,Grissom,F,1993-03-18,149,70,Montreal,QC,Quebec,NaN,2019-06-05,1971-01-05,Child Birth,26,Larry,Miller,Cardiovascular Surgeon

In [15]:
combined_table.duplicated().sum()

0

In [16]:
combined_table.count().notnull().sum()

18

In [17]:
combined_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5067 entries, 0 to 5066
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_id           5067 non-null   int64
 1   patient_first_name   5067 non-null   object
 2   patient_last_name    5067 non-null   object
 3   gender               5067 non-null   object
 4   birth_date           5067 non-null   object
 5   height               5067 non-null   int64
 6   weight               5067 non-null   int64
 7   city                 5067 non-null   object
 8   province_id          5067 non-null   object
 9   province_name        5067 non-null   object
 10  allergies            2777 non-null   object
 11  admission_date       5067 non-null   object
 12  discharge_date       5067 non-null   object
 13  diagnosis            5067 non-null   object
 14  attending_doctor_id  5067 non-null   int64
 15  doctor_first_name    5067 non-null   object
 16  doctor_last_name     5067 non-null   object
 17  specialty            5067 non-null   object
dtypes: int64(4), object(14)
memory usage: 712.7+ KB

In [19]:
combined_table.to_csv('hospital_management_dataset.csv',index=False)